name: CI

on:
  push:
  pull_request:

jobs:
  test-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install nbmake
          pip install ruff
          
      - name: Run linter (Ruff)
        run: ruff check 'Ecommerce analysis - UK company (UCI Machine Learning Dataset).ipynb' --ignore=E703 
        #E703 is a semicolon added to prevent rendering of an unnecesary output and should not be removed
 

      - name: Run notebook tests
        run: |
          export sample_dataset='./ecommerce_sample.csv'
          pytest --nbmake .
