name: CI

on:
  push:
  pull_request:

jobs:
  test-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install nbmake

      - name: Run notebook tests
        run: |
          export sample_dataset='./ecommerce_sample.csv'
          pytest --nbmake .
